<% content_for :head do %>
	<meta property="og:url" content=<%= "http://mixed-messages.org/blogs/#{@blog.id}" %> />
	<meta property="og:type" content="blog" />
	<meta property="og:title" content="<%= @blog.title %>" />
	<meta property="og:image" content="http://mixed-messages.org/assets/stage.jpg" />
<% end %>

<% if logged_in? && current_user.admin %>
	<div align="center">
		<%= link_to "Edit this Blog", edit_blog_path(@blog), class: "btn btn-md btn-warning" %>
	</div>
<% end %>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<div class="responsive-ad">
				<div align="center">
					<h6>Advertisement</h6>
				</div>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- blog 1 -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-2223843253438673"
				     data-ad-slot="5041726941"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<div class="responsive-ad">
				<div align="center">
					<h6>Advertisement</h6>
				</div>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- blog 4 -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-2223843253438673"
				     data-ad-slot="7073092942"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="blog-body good-background">
				<h1 class="blog-title"><%= @blog.title.upcase %></h1>
				<div class="row">
					<div class="col-sm-6 col-xs-9">
						<h3 class="fix-link"><%= link_to @blog.user.username, user_path(@blog.user) %></h3>
						<h5>Created: <%= @blog.created_at.localtime.strftime("%B %d, %Y") %></h5>
					</div>
					<div class="share col-sm-6 col-xs-3">
						<div class="row">
							<div align="right">
								<div class="fb-share-button" data-href=<%= "http://mixed-messages.org/blogs/#{@blog.id}" %> data-layout="button" data-size="small" data-mobile-iframe="true">
									<a class="fb-xfbml-parse-ignore" target="_blank" href=<%="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmixed-messages.org%2Fblogs%2F#{@blog.id}&amp;src=sdkpreparse" %> >Share</a>
								</div>
								<div>
									<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Mixed-Messages&hashtags=mixedmessagesmovement">
										Tweet</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="comment-hr"></div>
				<div class="blog-content fix-link">
					<%= raw(@blog.content) %>
				</div>
				<div align="right">
					<%= link_to "Back to Top", "#top", class: "btn btn-md btn-primary" %>
				</div>
			</div>
			<div class="col-lg-2 col-lg-offset-5">
				<div align="center" style="margin-bottom: 20px;">
					<%= link_to "Return to blogs", blogs_path, class: "btn btn-md btn-primary" %>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="responsive-ad">
				<div align="center">
					<h6>Advertisement</h6>
				</div>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- blog 2 -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-2223843253438673"
				     data-ad-slot="7995193340"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<div class="responsive-ad">
				<div align="center">
					<h6>Advertisement</h6>
				</div>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- blog 5 -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-2223843253438673"
				     data-ad-slot="8549826145"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>
</div>

<div align="center" class="responsive-ad">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- blog 3 -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-2223843253438673"
	     data-ad-slot="1948659749"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>

<div class="container">
	<%= render 'layouts/comments', obj: @blog %>
</div>

<!-- Load Facebook SDK and twitter for JavaScript -->
<div id="fb-root"></div>
<script async>
 
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));
</script>

