


<%= render 'layouts/errors', obj: @user %> 
<div class="container good-background" style="padding-top: 30px;">
	<div align="center">
		<h1><%= logged_in? ? "Edit your account information" : "Sign up for Mixed Messages" %></h1><br/>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
				<div class="form-group">
					<div class="control-label col-sm-2">
							<%= f.label :username %>
					</div>
					<div class="col-sm-8">
							<%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
					</div>
				</div>

				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :email %>
					</div>
					<div class="col-sm-8">
						<%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>
					</div>
				</div>

				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :zipcode %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :zipcode, class: "form-control", placeholder: "Enter zipcode" %>
					</div>
				</div>
				<% if !logged_in? %>
					<div class="form-group">
						<div class="control-label col-sm-2">
							<%= f.label :password %>
						</div>
						<div class="col-sm-8">
							<%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
						</div>
					</div>
					
					<div class="form-group">
						<div class="control-label col-sm-2">
							<%= f.label :password_confirmation %>
						</div>
						<div class="col-sm-8">
							<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter Password" %>
						</div>
					</div>
				<% end %>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :bio %>
					</div>
					<div class="col-sm-8">
						<%= f.text_area :bio, class: "form-control", rows: 5, placeholder: "Tell us something about you." %>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-xs-12">
						<% if !logged_in? %>
							<div class="col-md-offset-2 col-md-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
								<div id="recaptcha">
									<%= recaptcha_tags %>
								</div>
							</div>
						<% end %>
						<div>
							<% if !logged_in? %>
								<div class="col-md-3 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 tos fix-link">
									<%= f.check_box :terms_and_conditions, {checked: false, onclick: "document.getElementById('terms').disabled = false" }%> You agree to the <%= link_to "Terms and Conditions", terms_path, target: "_blank" %> and <%= link_to "Privacy Policy", privacy_path, target: "_blank" %>.
								</div>
								<div class="col-md-3 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 tos">
									<%= f.check_box :allow_emails, {checked: true} %> Would you like to recieve email announcements?
								</div>
							<% end %>
						</div>
					</div>
					<% if logged_in? %>
							<div class="col-xs-12">
								<div align="center" class="fix-link">
									<h3><%= link_to "Change Password?", change_password_path %></h3>
								</div>
							</div>
					<% end %>
					<div class="col-sm-2 col-sm-offset-2 col-xs-5 col-xs-offset-1">
						<% if logged_in? %>
							<%= f.submit("Update Account", class: "btn btn-primary btn-lg") %>
						<% else %>
							<%= f.submit("Sign Up", class: "btn btn-primary btn-lg", id: "terms",disabled: true) %>
						<% end %>
					</div>
					<% if !logged_in? %>
						<div class="col-sm-2 col-xs-5" style="margin-left: 10px">
							<%= link_to "Log In!", login_path, class: "btn btn-lg btn-info" %>
						</div>
					<% end %>
					
				<% end %>
			</div>
		</div>
	</div>
</div>

