<div class="row">
	<div align="center">
		<% if logged_in? && current_user.admin && !@user.admin %>
			<%= link_to "Delete this user", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete #{@user.username}" }, class: "btn btn-danger btn-xl" %>
			<% if !@user.banned && !@user.admin %>
				<%= link_to "Ban this user", ban_path(@user), method: :patch, remote: :true, data: { confirm: "Are you sure you want to ban #{@user.username}" }, class: "btn btn-warning btn-xl" %>
			<% elsif !@user.admin %>
				<%= link_to "Un-Ban this user", ban_path(@user), method: :patch, remote: :true, data: { confirm: "Are you sure you want to remove the ban on #{@user.username}" }, class: "btn btn-warning btn-xl" %>
			<% end %>
		<% end %>
		<h1>User <%= @user.username.upcase %></h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-1">
		<div>
			<% if @user.zipcode %>
				<h4>Zipcode: <%= @user.zipcode %></h4>
			<% elsif logged_in? && current_user == @user %>
					<%= link_to "Add a zipcode", edit_user_path(@user) %>
			<% end %>
		</div>
		<br/>
		<% if logged_in? && current_user == @user %>
			<div>
				<span class="glyphicon glyphicon-pencil"></span>
				<%= link_to "Edit your account", edit_user_path(@user), class: "h4" %>
			</div>
			<br/>
			<div>
				<%= link_to "Change your password", edit_user_path(@user), class: "h4" %>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-lg-6 col-lg-offset-1">
		
		<div>
			<% if @user.bio && !@user.bio.empty? %>
				<div>
					<h4>Bio:</h4>
				</div>
				<h4><%= @user.bio %></h4>
			<% elsif logged_in? && (current_user.admin || current_user == @user) %><br/>
				<%= link_to "Edit your Bio", edit_user_path(@user), class: "h4" %>
			<% end %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div align="center">
			<h4>Uploads by <%= @user.username.upcase %>:</h4>
			
			<% @user.uploads.each do |upload| %>
				<% if (logged_in? && (current_user.admin || current_user == @user)) || upload.save_upload %>
					<div class="col-lg-4 col-md-6">
						<div align="center">
							<% if upload.save_upload %>
								<div class="greentext">
									This video is available.
								</div>
							<% else %>
								<div class="redtext">
									This video has not yet been approved.
								</div>
							<% end %>
							<br/>
							<%= link_to (video_tag upload.file, height: "200px"), upload_path(upload) %> <br/>
							<%= upload.title %><br/> 
							<%= truncate(upload.note, length: 100) %><br/>
							<%= time_ago_in_words(upload.created_at) %><br/>
						</div>
					</div>
				<% end %>
			<% end %>
		</div> 
	</div>
</div>
