<img src="http://mixed-messages.org/assets/mm-header-40.png" height="100px" />
<br/><br/>
<div align="center">
	<h1 style="font-weight: bold; text-transform: uppercase;"><%= @user.username %> - Welcome to Mixed Messages!</h1>
</div>
<div class="container">
	<div class="row">
		<br/><br/><br/>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;
		Thank you for your interest in Mixed Messages. Read some <%= link_to "blogs", "http://mixed-messages.org/blogs" %>, watch some <%= link_to "videos", "http://mixed-messages.org/watch" %>, and enjoy the schadenfreude.<br/><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;
		Or think about the possible consequences of distracted driving and <%= link_to "get involved", "http://mixed-messages.org/submit" %> by submitting your own videos. We recommend you visit our section on <%= link_to "safe filming tips", "http://mixed-messages.org/safe" %> before you begin.<br/><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;
		From all of us here at Mixed Messages, we hope you enjoy your stay!</h3>
	</div>
<%= render 'layouts/unsubscribe' %>
</div>