
<!-- Premium video at top -->
<div class="container good-background">
		<div class="row">
			<div align="center">
				<h1>New Episode</h1>
				<div id="main-episode">
					<% if !logged_in? %>
						<%= link_to (image_tag "members-only.png", height: "450px"), signup_path %>
					<% else %>
						<%= render 'premium' %>
					<% end %>
				</div>
				<div align="center">
					<h4 class="fix-link"><%= link_to "Click for more!", premium_path %><h4>
				</div>
			</div>
		</div>



	<!-- Navigation -->
	<div class="row">
		<div align="center">
			<div class="section_title col-sm-12"><h1>Past Episodes</h1></div>
		</div>
		<% @videos.each do |key, value| %>

			<div align="center" class="col-xs-12">
			<!-- Previous page button -->
				<% if key == "prevPageToken" %>
					<% @prevPageToken = "&pageToken=#{value}" %>
					<%= link_to "Previous Page", watch_path(@prevPageToken), method: :patch, class: "btn btn-xs btn-info" %>
				<% end %>
			
			<!-- next page button -->
				<% if key == "nextPageToken" %>
					<% @nextPageToken = "&pageToken=#{value}" %>
					<%= link_to "Next Page", watch_path(@nextPageToken), method: :patch, class: "btn btn-xs btn-info" %>
				<% end %>
			</div>
			

			<!-- 			Loop to display episodes -->
			<% if key == "items" %>
				<% value.each do |block| %>
					<% block.each do |key, value| %>
						<% if key == "snippet" %>
							<% value.each do |k, v| %>
								<% if k == "title" %>
									<% @title = v %>
								<% elsif k == "resourceId" %>
									<% v.each do |kk, vv| %>
										<% if kk == "videoId" %>
											<% @id = vv %>
											<div class="col-lg-4 col-md-6">
												<div id="thumbs" align="center">
													<% source = "http://img.youtube.com/vi/#{@id}/1.jpg" %>
													<%= link_to image_tag(source, alt: @title, width: "275px"), video_path(@id) %>
												</div>
												<div id="title" align="center">
													<%= @title.upcase %>
												</div>
											</div>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>
