<div>	
	<% @uploads.each do |upload| %>
		<div class="col-lg-4 col-sm-6 style-upload-index">
			<div align="center" class="single-upload">
				<% user = "Submitted by: #{upload.user.username}" %>
				<h4 class="fix-link"><%= link_to user, user_path(upload.user.id) %></h4><br/> 
				<% if Rails.env.development? %>
					<%= "File is: public#{upload.file.thumb}" %>
					<%= link_to (image_tag upload.file.thumb, height: "175px"), upload_path(upload) %>
				<% else %>
					<%= link_to (image_tag "http://mixed-messages.org/public#{upload.file.thumb}", height: "175px"), upload_path(upload) %>
				<% end %>
				<br/>
				<h4><%= upload.title %></h4><br/> 
				<%= truncate(upload.note, length: 100) %><br/>
				<%= time_ago_in_words(upload.created_at) %><br/>
				<% if logged_in? && current_user.admin %>
					<%= link_to "Delete", upload_path(upload), method: :delete, class: "btn btn-sm btn-info", data: {confirm: "Delete this submission?"} %>
					<% if !upload.save_upload %>
						<%= link_to "Allow", save_upload_path(upload), class: "btn btn-danger btn-sm", method: :patch, data: {confirm: "Allow this submission?"} %>
					<% else %>
						<%= link_to "Deny", save_upload_path(upload), class: "btn btn-warning btn-sm", method: :patch, data: {confirm: "Deny this submission but keep the file?"} %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
 