<div class="container">
	<div class="row">
		<% @uploads.each do |upload| %>
			<% if upload.save_upload || (logged_in? && current_user.admin) %>
				<div class="col-lg-3 col-md-6">
					<div align="center">
						<% user = "Submitted by: #{upload.user.username}" %>
						<h4 class="fix-link"><%= link_to user, user_path(upload.user.id) %></h4><br/>
						<%= link_to (video_tag upload.file, height: "200px"), upload_path(upload) %> <br/>
						<h3><%= upload.title %></h3><br/> 
						<%= truncate(upload.note, length: 100) %><br/>
						<%= time_ago_in_words(upload.created_at) %><br/>
						<% if logged_in? && current_user.admin %>
							<%= link_to "Delete", upload_path(upload), method: :delete, class: "btn btn-sm btn-info" %>
							<% if !upload.save_upload %>
								<%= link_to "Save File", save_upload_path(upload), class: "btn btn-danger btn-sm", method: :patch %>
							<% else %>
								<%= link_to "Remove File", save_upload_path(upload), class: "btn btn-warning btn-sm", method: :patch %>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div> 
</div>
