<div class="container-fluid">
	<div class="col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-3">
		<ul class="tags">
			<li>
				<!-- Zipcode search -->
				<%= form_tag uploads_path, method: "get", rel: "nofollow" do %>
					<div class="field" align="center" style="margin-bottom: 20px;">
					<%= hidden_field_tag :search, params[:search] %>
					<%= text_field_tag :zip, "", id: "zipcode-search"%>
					<%= submit_tag "Zipcode", username: nil, class: "btn btn-sm btn-primary", id: "zipcode-search-btn" %>
					</div>
				<% end %>
			</li>

			<!-- Tags List -->
			<% if !@tags.nil? and !@tags.empty? %>
				
				<li><%= link_to "All Tags", uploads_path, class: "btn btn-sm btn-primary", rel: "nofollow" %></li>
				<% @tags.each do |tag| %>
					<%= form_tag uploads_path, method: "get", rel: "nofollow" do %>
						<%= hidden_field_tag :search, tag.id %>

						<li><%= submit_tag tag.tag_name, tags: nil, class: "btn btn-sm btn-primary" %></li>
					<% end %>
				<% end %>
			<% end %>
		</ul>

		<div class="responsive-ad">
			<div align="center">
				<h6>Advertisement</h6>
			</div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Sub List 1 -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-2223843253438673"
			     data-ad-slot="6878386940"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

	</div>
	<div class="col-md-8 col-md-offset-0 col-xs-12">
		<div class="row good-background">
			<div align="center">
				<h1>User Submissions</h1><br/>

				<%= will_paginate %>

			</div>
			<%= render 'submission_list', obj: @uploads %>
			<div align="center">
				<%= will_paginate %>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="responsive-ad">
			<div align="center">
				<h6>Advertisement</h6>
			</div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Sub List 2 -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-2223843253438673"
			     data-ad-slot="8355120140"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>
</div>
<div class="responsive-ad">
	<div align="center">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Sub List 3 -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-2223843253438673"
		     data-ad-slot="9831853345"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>