<div class="container">
	<div class="row good-background">

		<% if @uploads.empty? %>
				<div align="center" class="move-bottom">
					<h1>no uploads TO REVIEW</h1>
				</div>
			</div>

		<% else %>
			<div align="center">
				<h1>Videos in Que: <%= @uploads.count %></h1><br/>
				<%= form_for :flowplayer_login, url: flowplayer_login_path do |f| %>
					<%= f.hidden_field :username, value: "#" %>
					<%= f.hidden_field :password, value: "#" %>
					<%= f.submit "Log In To Flowplayer", class: "btn btn-lg btn-primary" %>
				<% end %>
				<%# button_tag "Log in to Flowplayer", class: "btn btn-lg btn-primary", id: "fp-login" %>
			</div>
			<%= render 'submission_list', obj: @uploads %>
			<div align="center">
				<%= will_paginate %>
			</div>
		<% end %>
	</div>
</div>
