<%= render 'layouts/errors', obj: @upload %>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div align="center" class="embed-responsive embed-responsive-16by9">
				<h1 class="fix-link"><%= link_to @upload.user.username, user_path(@upload.user) %></h1><br/>
				<%= video_tag @upload.file, controls: true, autobuffer: true, preload: "auto" %><br/>
			</div>
		</div>
		<div class="col-xs-3">
			<!-- Tag system -->
			<% if logged_in? and current_user.admin? %>
				<div align="left">
					<%= form_for :add_tags, url: add_tags_path do |f| %>
						<div class="field">
							<%= f.hidden_field :upload_id, value: @upload.id %>
							<%= f.collection_check_boxes :tags, Tag.all, :id, :tag_name do |tag| %>
								<%= tag.check_box %>
								<%= tag.label %><br/>
							<% end %>
						</div>
						<%= f.submit "Mark Tags", class: "btn btn-sm btn-primary" %>
					<% end %>
				</div>
			<% end %>
		</div>

		<!-- Allow or deny the file -->
		<div class="col-md-4">
			<% if logged_in? && current_user.admin %>
				<% if !@upload.save_upload %>
					<div align="right">
							<%= link_to "Allow File", save_upload_path(@upload), class: "btn btn-danger btn-lg", method: :patch %>
					</div>
				<% else %>
					<div align="right">
							<%= link_to "Deny File", save_upload_path(@upload), class: "btn btn-warning btn-lg", method: :patch %>
					</div>
				<% end %>
			<% end %>
		</div>

		<!-- Completely delete the file -->
		<div class="col-md-4">
			<div align="center">
				<h4><strong><%= @upload.title %></strong></h4><br/>
				<%= @upload.note %><br/>
				<%= time_ago_in_words(@upload.created_at).capitalize %> ago.<br/>
				<% if !@upload.tags.nil? %>
					<% @upload.tags.each do |tag| %>
						<div class="col-sm-3 btn btn-sm btn-primary">
							<%= tag.tag_name %>
						</div>
					<% end %>
				<% end %>
			</div>	
		</div>
		<div class="col-md-4">
			<% if logged_in? && current_user.admin %>
				<div align="left">
						<%= link_to "Delete File", upload_path(@upload), method: :delete, class: "btn btn-info btn-lg" %>
				</div>
			<% end %>
		</div>

		

	</div>

	<% if @upload.save_upload %>
		<div class="container">
			<div class="row">
				<div align="center">
					<h1>Comments</h1>
					<%= render 'layouts/comments', obj: @upload %>
				</div>
			</div>
		</div>
	<% end %>
</div>