<div class="row">
	<div align="center">
		
		<%= link_to @upload.user.username, user_path(@upload.user) %><br/>
		<%= image_tag @upload.file, height: "400px" %> <br/>
		<%= @upload.title %><br/>
		<%= truncate(@upload.note, length: 100) %><br/>
		<%= time_ago_in_words(@upload.created_at) %><br/>
	</div>
</div>
