<div class="foot"> <!-- class="navbar navbar-fixed-bottom"> -->
	
	<div id="foot" class="blog-fix">
		<div class="row">
			<div align="left">
				<div class="col-md-7 col-md-offset-1 col-sm-12 move-top brighten">
					<%= link_to image_tag("facebook.png", width: "50px", class: "good-background puffed"), "http://facebook.com" %>
					<%= link_to image_tag("twitter2.png", width: "50px", class: "good-background puffed"), "http://twitter.com" %>
					<%= link_to image_tag("youtube.png", width: "50px", class: "good-background puffed"), "http://youtube.com" %>
					<%= link_to image_tag("instagram.png", width: "50px", class: "good-background puffed"), "http://instagram.com" %>
					<%= link_to image_tag("pinterest.png", width: "50px", class: "good-background puffed"), "http://pinterest.com" %>
				</div>
			</div>
			<div class="col-md-3" align="right">
				<nav>
					<ul>
						<li><%= link_to "FAQ", faq_path %></li>
						<li><%= link_to "ABOUT US", about_path %></li>
						<li><%= link_to "CONTACT US", contact_us_path %></li>
					</ul>
				</nav>
			</div>
		</div>
		<div align="center">
			<h6>&copy;Copyright 2017 Mixed Messages LLC</h6>
		</div>
	</div>
</div>