

<header id="head" >
	
		<div id="mm" class="row text-center">
			<%= link_to image_tag("title-adjusted-again.jpg", alt: "Mixed Messages Logo", class: "img-repsonsive"), root_path %>
		</div>
		<%= render 'layouts/navigation' %>
		<nav id="top-link-bar">
			<ul class="nav nav-justified">
				<li><%= link_to "HOME", root_path %></li>
				<li><%= link_to "Watch", watch_path %></li>
			 	<li><%= link_to "Blogs", blogs_path %> </li>
				<% if !logged_in? %>
					<li><%= link_to "Log In", login_path %></li>
				<% else %>
					<li><%= link_to "Submit", submit_path %></li>
					<li><%= link_to "Log Out", logout_path, method: :delete %></li>
				<% end %>
			 	<li><%= link_to "FAQ", how_to_path %></li>
			</ul>
		</nav>
	
</header>
<!-- ********************************End of Header********************************** -->