

<header id="head" >
	
		<div id="mm" class="row text-center">
			<%= link_to image_tag("title-adjusted-again.jpg", alt: "Mixed Messages Logo", class: "img-repsonsive"), root_path %>
		</div>
		<%= render 'layouts/navigation' %>
		<nav id="top-link-bar">
			<ul class="nav nav-justified">
				<li><%= link_to "HOME", root_path %></li>
			 	<li><%= link_to "HOW TO / FAQ", how_to_path %></li>
			 	<li><%= link_to "Blogs", blogs_path %> </li>
				<li><a href="#">Watch</a></li>
				<li>
					<% if !logged_in? %>
						<%= link_to "Sign Up", signup_path %>
					<% else %>
						<%= link_to "Log Out", logout_path, method: :delete %>
					<% end %>
				</li>
				<li><a href="#">submit</a></li>
			</ul>
		</nav>
	
</header>