<!DOCTYPE html>
<html>
<head>
  <title>MixedMessages</title>
  <link href='https://fonts.googleapis.com/css?family=Passion+One:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Doppio+One" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='page'>

	<%= render 'layouts/header' %>
  <%= render 'layouts/messages' %>

	<%= yield %>
  <% debug(params) if Rails.env.development? %>


	<%= render 'layouts/footer' %>

	</div>

</body>
</html>

